*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

.f-bill-icons{
    position: absolute;
    
    margin-top: 6%;
}

.f-bill-icons ul{
    display: flex;
    position: absolute; 
  
     background-color:rgb(6, 6, 61);
  padding-right: 70px;  /*To fill the background color to 100%*/
  padding-bottom: 25px;
}

.f-bill-icons ul li{
     
    padding: 58px;
    list-style: none;
    margin-right: 15px;
    
}
 
.f-bill-icons ul li a{
    text-decoration: none;
    color: white;
}

.f-bill-icons ul li i{
   position: absolute; 
    margin-left: 2.2%; 
    color: white;
}


.bi-ic a{
   position: absolute;
    margin-top: 30px;
   
}

.bi-i:hover {
    zoom: 105%;
}

.bi-an{
    overflow: hidden;
    background-color: aqua;
}
.bi-an a{
    float:left;
    display: block;
    color: black;
    border-bottom: 3px solid transparent;
}


.bi-an a:hover{
    display: block;
    border-bottom: 3px solid aqua;
}






#fast-im{
    position: absolute;
    height: 55%;
    margin-top: 20%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px black;
    margin-left: -5%;

}

.fast-re{
    position: absolute;
     margin-top: 20%;
    background-color: rgb(178, 173, 241);
    margin-left: 5%;
    padding: 0px 40px 0px;
    border-radius: 20px;
    
}
.fast-re:hover {
    zoom: 102%;
    margin-top: 15.3%;
    box-shadow: 0px 0px 7px 3px black;
    transition:0.5s;
    
}
.fast-re h3{
    padding:60px 0px 45px;
}


#v-num{
    margin-top: 50px;
    font-size:1rem;
    height: 15%;
    width: 60%;
    background-color: whitesmoke;

}
#v-num legend{
    margin-left: 2%;
    font-size: 1.1rem;
    
    
}

#v-num input{
   height: 100%; 
   width: 100%;
   outline: none;
   border:none;
   background: transparent;
    
}

#upload{
    margin-top: 90px;
}
#upload label:nth-child(1){
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10%;
}
#upload p{
    margin-top: 1.5%;
    margin-bottom: 19%;
}
#fi2{
    margin-top: 18%;
    margin-left: 27.8%;
}

#file-input,#file-input2 {                   /* /To change the choose file text */
    display: none;
}
#file-input-label,#file-input-label2{
    font-size: 1rem;
    border: 1px solid grey;
    padding: 20px;
    color:grey;
    background-color: rgba(245, 245, 245, 0.726);
}

.fast-re p{
    margin-top: 170px;
   font-weight:bolder;
}

.fast-re ul li{
    margin-top: 25px;
}

.fast-re #f-but{
    
    margin: 16% 25% 16%;
     background-color: orangered;
    color: white;
    font-weight: bold;
    border-radius: 20px;
     padding:10px 25px 10px;
}
#f-but:hover{
    box-shadow: 0px 0px 5px 2px black;
    zoom: 102%;
    transition: 0.3s;
}




/* /footer */
#f-foot{
    position: absolute;
    margin-top: 115%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}

#down{
    display: inline-flex;
   font-size: 1.2rem;
   
}

#downl{
    display: inline-flex;
    padding-bottom: 7%;
}

.down{
    width: 33%;
    font-size: 1.1rem;
    padding: 10px 16px 10px;  
    font-weight: 700;
    margin-left: 3%;
    border-radius: 9px;
    background-color: rgba(20, 20, 20, 0.986);
    color: white ;
    padding-top: -20px;
    margin-bottom: 40px;
    
}

.down:hover{
    zoom: 101.5%;
    background-color: green;
    box-shadow: 0px 0px 5px 3px black;
}

#do-b{
    margin-left: 4%;
    
    
}

#do-tex{
    
    text-align: center;
    margin-left: 8%;
}

.do-lin{
    text-decoration: none;
    color: white;
}
#do-p{
    margin-top: 100px;
    
}
.h-l{
    width: 190%;
    
}
#fo-l{
    width: 172%;
    margin-top: 4%;
    margin-right: -3%;
    margin-left: -3%;
    height: 2%;
    display:block;
    background-color: rgb(255, 123, 0);
}
#fo-l1{
    width: 172%;
    height: 2%;
    display:block;
    margin-right: -3%;
    margin-left: -3%;
    margin-top: 1.5%;
    background-color: rgb(2, 109, 2);
}