*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.loan{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.loa-im{
    margin-top: 5%;
    width: 70%;
}
#loa-c{
    margin-left: 72%;
    margin-top: -28%;
    margin-right: 3%;
}
#loa-c p{
    font-size: 3.2rem;
    font-weight: bold;
}
#min2{
    color: orangered;
}
#lo-log{
    position: absolute;
    margin-top: -38%;
    margin-left: 90%;
    width: 15px;
    color: rgb(16, 16, 126);
}
#loa-ad{
 background-color: rgb(60, 184, 71);
position: absolute;
margin-top: 32%;
margin-left: -55%;
width: 70%;
padding:1% 0% 6% 0% ;
border-radius: 30px;
}


#ad-lo{
    position: absolute;
    margin-left: 26%;
    margin-top: -10%;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(9, 9, 90);
    clip-path: circle(38%);
    padding: 4%;
}
#ad-q{
    margin-top: 15%;
    font-size: 1.2rem;
    margin-left: -32%;
}
#ad-c ul li{
    text-align: left;
    margin-left: 75%;
    font-size: 1rem;
    margin-top: 2%;
    font-weight: bold;
}
#ad-c{
    margin-top: -12%;
}


#loan-foot{
    margin-top: 50%;
}


#loa-d{
 background-color: rgb(192, 181, 27);
position: absolute;
margin-top: 60%;
margin-left: -55%;
width: 70%;
padding:1% 0% 6% 0% ;
border-radius: 30px;
}



#d-lo{
    position: absolute;
    margin-left: 26%;
    margin-top: -12%;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(9, 9, 90);
    clip-path: circle(38%);
    padding: 4%;
}
#d-q{
    margin-top: 15%;
    font-size: 1.2rem;
    margin-left: -32%;
}
#d-c ul li{
    text-align: left;
    margin-left: 75%;
    font-size: 1rem;
    margin-top: 2%;
   
    font-weight: bold;
}
#d-c{
    margin-top: -12%;
}


#loan-foot{
    margin-top: 90%;
}
